@mixin backgroundConfig($url) {
    background: url($url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin flexCentering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin meditButtonStyle {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    width: 11rem;
    height: 4rem;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}