// Widescreens
@include mediaXl {

}

// Deskpots & Laptops
@include mediaLg {

}

// Tablets & Small Laptops
@include mediaMd {
// Index.html

.wrapper {

    header {
        .header-buttons{
            width: 100vw;
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: repeat(3,1fr);
        }
    }

    button {
        margin: auto;
        height: 2rem;
        width: 7rem;
        font-size: 18px;
        margin-top: 2rem;
    }

    img {
        margin: auto;
        width: 50px;
        margin-top: 30px;
    }

    a{
        width: 10rem;
        height: 2rem;
        font-size: 15px;
        border-radius: 10px;
    }
}

main {
    height: 100vh;
    @include flexCentering;
    flex-direction: column;

    a {
        text-align: center;
    }

    h2 {
        width: 70%;
        text-shadow: -3px 3px 5px rgba(12,4,11,0.96);
        font-size: 30px;
        font-family: 'Blinker', sans-serif;
        padding: 20px;
        border-radius: 20px;
        color: #fff;
        text-align: center;
    }
}
}

// Smartphones
@include mediaSm {
    // Modal index.html
    .bg-modal{
        .modal-content {
            width: 350px;
            height: 300px;
    
            .close{
               font-size: 26px;
           }
    
            .modal-image {
                width: 50px;
            }

            ul{
                margin-top: 30px;
            }
    
            li{
                padding: 5px;
                font-size: 12px;
                line-height: 0.7;
                list-style: lower-roman;
            }
        }
     }

     //Meditation.html
     .container {
        .arrow-back {
            height: 50px;
            width: 50px;
            padding: 10px;
        }
    
        .time-select{
            grid-template-columns: repeat(2, 1fr);
            margin-left: 20px;
            padding: 10px;
            margin-top: 40px;
    
            button {
                width: 8rem;
                height: 2rem;
                margin: 5px;
                font-size: 10px;
            }
        }
    
        .player-container{
            height: 50vh;
            position: relative;
    
            .play{
                width:40px;
            }
        }

        .time-display{
            font-size: 15px;
        }
    
        .sound-picker{
            button{
                height: 60px;
                width: 60px;
                padding: 10px;
            }
        }

        .stop-container{    
            .stop{
                margin-top: -20px;
                height: 50px;
                width: 230px;
                font-size: 20px;
            }
        }

    }

    // Modal 
    .no-time{
        .warning-no-time{
            width: 150px;
            padding: 15px;
            font-size: 10px;
        }
     }

     .modal-pick-time{
        .pick-time{
            width: 350px;
            height: 200px;
    
            input[type=number]{
                padding: 10px;
                border: 1px solid #fff;
                background: #000;
                color: #fff;
                outline: none;
                font-weight: bold;
                transition: 0.5 ease;
    
            }
        }   
    }
}
