// Info modal

 .bg-modal{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
    position: absolute;
    @include flexCentering;
    display: none;

    .modal-content {
        width: 700px;
        height: 500px;
        @include backgroundConfig('https://i.postimg.cc/XNphCqyJ/modal-background.jpg');
        color: #fff;
        border-radius: 4px;
        padding: 20px;
        @include flexCentering;
        flex-direction: column;
        position: relative;
        animation: zoomIn .5s forwards;
        transition: top 0.4s, opacity 0.4s;
        .close{
           position: absolute;
           top: 0;
           right: 14px;
           font-size: 42px;
           transform: rotate(45deg);
           cursor: pointer;
       }

        .modal-image {
            width: 100px;
        }

        li{
            padding: 5px;
            list-style: lower-roman;
        }

        ul{
            margin-top: 30px;
        }
    }
 }

// Pick a time

.modal-pick-time{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,0.7);
    position: absolute;
    @include flexCentering;
    //didn't had align-items center
    display: none;

    .pick-time{
        width: 500px;
        height: 200px;
        @include backgroundConfig('https://i.postimg.cc/fypjsHR4/header-pick-time.png');
        color: #000;
        font-weight: bold;
        border-radius: 4px;
        padding: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        form{
            display: grid;
            grid-gap: 20px;
        }

        input[type=number]{
            padding: 10px;
            border: 1px solid #fff;
            background: #000;
            color: #fff;
            outline: none;
            font-weight: bold;
            transition: 0.5 ease;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button{
                -webkit-appearance: none;
                margin: 0;
            }

            &:focus{
                background-color: rgba(#000, 0.8);
            }
        }

        button{
            height: 40px;
            width: 100px;
            background-color: rgba(#000,0.9);
            border: 1px solid #000;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: 0.5s ease;
        }
    }
}

// No time alert

.no-time{
   top: 0;
   width: 100%;
   position: absolute;
   @include flexCentering;
   display: none;

   .warning-no-time{
       width: 250px;
       height: 30px;
       padding: 20px;
       margin-top: -100px;
       color: #000;
       background-color: #ffb6c1;
       border-left: 5px solid red;
       font-weight: bold;
       @include flexCentering;
       animation: warningtime 15s;
   }
}

@keyframes warningtime{
   0%{}
   10%{margin-top: 5px;}
   100%{margin-top:-500px;}
}
