@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Roboto Slab', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

// Index.html

.bg-image{
    position: absolute;
    @include backgroundConfig('../img/background.jpg');
    /* The image doesn't appear until we size it */
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.9;

}

.wrapper {

    header {
        position: absolute;
        display: flex;
        height: 15vh;
        width: 100%;


        .header-buttons{
            width: 100vw;
            height: 30vh;
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: repeat(3,1fr);
        }
    }

    button, a{
        margin: 10px;
        color: #fff;
        font-size: 20px;
        font-family: 'Blinker', sans-serif;
        font-weight: bold;
        background: rgba(0,0,0,0.7);
        border: 2px #fff solid;
        outline: none;
        cursor: pointer;
        @include flexCentering;
        transition: all 0.5s ease;

        &:hover{
        color: #000;
        background: #fff;
        border: 2px #000 solid;
        }
    }

    button {
        margin: auto;
        height: 4rem;
        width: 15rem;
        font-size: 25px;
        margin-top: 2rem;
    }

    img {
        margin: auto;
        width: 100px;
        margin-top: 30px;
    }

    a{
        width: 15rem;
        height: 3rem;
        border-radius: 10px;
    }
}

main {
    height: 100vh;
    @include flexCentering;
    flex-direction: column;

    a {
        text-align: center;
    }

    h2 {
        width: 70%;
        text-shadow: -3px 3px 5px rgba(12,4,11,0.96);
        font-size: 50px;
        font-family: 'Blinker', sans-serif;
        padding: 20px;
        border-radius: 20px;
        color: #fff;
        text-align: center;
    }
}

// Meditation.html
.container {
    height: 100vh;
    overflow: hidden;
    @include backgroundConfig('https://i.postimg.cc/sgTVnb6g/beach.png');

    .arrow-back {
        position: absolute;
        height: 80px;
        width: 80px;
        padding: 10px;
        transform: rotate(180deg);
    }

    .time-select{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        margin-top: 20px;
        margin-left: 200px;
        padding: 10px;

        button {
            @include meditButtonStyle;

            &:hover{
                color: #000;
                background: #fff;
                border: 2px solid #000;
            }
        }
    }

    .time-display{
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translateY(50px);
        color: #fff;
        font-size: 50px;
    }

    .player-container{
        height: 70vh;
        position: relative;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        .play{
            width: 75px;
        }

        svg{
            position: absolute;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-90deg);/*to start the animation made on js up*/
            pointer-events: none;
        }
    }

    .sound-picker{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-content: space-between;
        height: 150px;

        button{
            @include meditButtonStyle;
            margin: auto;
            border: none;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            padding: 25px;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1.2);
            }

            img,svg{
                height: 100%;
                display: flex;
                justify-content: center;
            }

            &:nth-child(1){background: linear-gradient(#b3ffab,#12fff7);}
            &:nth-child(2){background: linear-gradient(#a1c4fd,#c2e9fb);}
            &:nth-child(3){background: linear-gradient(#fc575e,#f7b42c);}
            &:nth-child(4){background: linear-gradient(#76b852,#8dc26f);}
            &:nth-child(5){background: linear-gradient(#ff512f,#f09819);}
        }
    }

    .stop-container{
        display: flex;
        justify-content: center;

        .stop {
            background: orangered;
            border: 2px solid orangered;
            height: 80px;
            width: 350px;
            outline: none;
            font-weight: bold;
            color: #fff;
            font-size: 30px;
            border-radius: 5px;
            box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
            display: none;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover{
                border: 2px solid #fff;
            }
        }
    }
}

@import 'modals';
@import 'mobile';