*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', sans-serif;
    overflow: hidden;
    background-image: url(img/rain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #fff;    
}

.container{
    height: 100vh;
}

.header{
    position: absolute;
    padding: 10px;
}

.arrow-back{
    height: 40px;
    width: 40px;
}

.time-select{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 20px;
}

.player-container{
    height: 70vh;
}

.sound-picker{
    display: flex;
    justify-content: space-evenly;
}

.play{
    position: relative;
    top: 30vh;
    left: 48.3vw;
    width: 70px;
}


/* blue svg behind white svg */
.player-container{
    position: relative;
    transition: 0.5s ease;
}

.player-container svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);/*to start the animation made on js up*/
    pointer-events: none;
}

.time-display{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    bottom: 10%;
    color: #fff;
    font-size: 50px;
}


.time-select button,
.sound-picker button{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    width: 11rem;
    height: 4rem;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.time-select button:hover{
    color: #000;
    background: white;
    border: 2px solid #000;
}

.sound-picker button{
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}

.sound-picker button img{
    height: 100%;
}

.sound-picker button:nth-child(1){background: lightseagreen;}
.sound-picker button:nth-child(2){background: lightblue;}
.sound-picker button:nth-child(3){background: lightpink;}
.sound-picker button:nth-child(4){background: lightgreen;}

.stop-container{
    display: flex;
    justify-content: center;
}

.stop{
    background: orangered;
    border: 2px solid orangered;
    height: 80px;
    width: 350px;
    outline: none;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    display: none;
    cursor: pointer;
}

/* Modal */


.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
}

.pick-time{
    width: 500px;
    height: 200px;
    margin-top: 30px;
    background: linear-gradient(#13547a,#80d0c7);
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.pick-time form{
    display: grid;
    grid-gap: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pick-time input[type=number] {
    padding: 5px;
    color: white;
    border: 1px solid #fff;
    outline: none;
    transition: 0.5s ease;
  }

  .pick-time input[type=number]:focus {
    background-color: lightblue;
    border: 1px solid #000;
  }

.pick-time [type="submit"]{
    height: 30px;
    width: 100px;
    background: lightblue;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}

.pick-time [type="submit"]:hover{
    background: darkgray;
    border: 1px solid lightblue;
    color: black;
}


